<!-- <a [routerLink]="['cityForecast']">clcik here</a> -->

<div class="searchcontainer">
    <!-- Search and add City -->
    <div class="searchbox">
        <form>
            <input class="form-control col-md-12" #userInput type="text" placeholder="Type city name">
            <div *ngIf="showError" class="alert alert-warning">
                Location name does not exist
            </div>
        </form>
        <span (click)="getCity(userInput.value)"><i class="fa fa-plus"></i></span>
        
    </div>
    <div class="separator"></div>
    <div class="reclocs">
        <span class="recloc"> Recent locations</span>
        <div class="grey-separator"></div>
    </div>
    <div class="locslist" *ngFor="let data of cityWeatherData">
        <div>
            <span class="locname" (click)="routeToWeatherForecast(data)" [routerLink]="['cityForecast/'+'data.id']" [state]=data> {{data.name}} - {{data.main.temp}} C {{data.weather[0].main}}</span>
            <span *ngIf="(data.weather[0].main)=='Clouds'"><img src="../../assets/amcharts_weather_icons_1.0.0/animated/cloudy.svg"/></span>
            <span *ngIf="(data.weather[0].main)=='Rain'"><img src="../../assets/amcharts_weather_icons_1.0.0/animated/rainy-6.svg"/></span>
            <span *ngIf="(data.weather[0].main)=='Snow'"><img src="../../assets/amcharts_weather_icons_1.0.0/animated/snowy-5.svg"/></span>
            <span class="refresh" (click)="refreshCity(data.name)"><i class="fa fa-sync-alt"></i></span>
            <span (click)="removeCity(data.name)"><i class="fa fa-times"></i></span>
        </div>
        <div class="grey-separator"></div>
    </div>
</div>
<div class="clearbuttondiv">
    <button class="clearbutton" (click)="emptyCities()">Clear</button>
</div>
